.random {
    display: flex;
    justify-content: center;
    background-image: url(../images/telephone.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 230px 0 230px 0;
    box-shadow: 0 0 0 720px rgba(0, 0, 0, 0.45) inset;

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &-title {
            font-family: $roboto;
            font-weight: $bold-weight;
            font-size: 65px;
            color: $white;
            text-align: center;
            letter-spacing: 2.5px;
        }

        &-count {
            @extend %header-buttons;
            padding: 30px 30px;
            border: 4px solid rgba(255, 255, 255, 0.65);
            font-size: 45px;
            color: rgba(255, 255, 255, 0.65);

            &:hover {
                color: rgba(255, 255, 255, 1);
                border: 4px solid rgba(255, 255, 255, 1);
                cursor: pointer;
            }
        }

        &-form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &__from,  &__to{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                label {
                    font-family: $roboto;
                    font-size: 65px;
                    font-weight: $bold-weight;
                    color: $white;
                }
                
                input {
                    padding: 35px 30px;
                    border: 4px solid transparent;
                    background-color: rgba(145, 145, 146, 0.3);
                    text-align: center;
                    font-family: $roboto;
                    font-weight: $bold-weight;
                    font-size: 65px;
                    color: $white;
                    transition: 0.2s;
                    max-width: 220px;
                    margin-left: 20px;
                }

                .focus {
                    @extend %focus;
                }

                .inc-focus {
                    @extend %inc-focus;
                }

                .inc-blur {
                    @extend %inc-blur;
                }
            }



            &__from {
                margin-right: 45px;
            }

        }

        .warning {
            @extend %warning;
        }
        
        .random-result-block {
            height: 255px;
            .random-result {
                display: none;
                font-family: $roboto;
                font-weight: $bold-weight;
                font-size: 130px;
                color: $white;
                margin-top: 105px;
            }
        }

        

    }


}