.timer {
    background-image: url(../images/random-back2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 250px 0 250px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        font-family: $roboto;
        font-weight: $bold-weight;
        font-size: 65px;
        text-align: center;
        letter-spacing: 2.5px;
        color: $atracit;
    }

    &-start {
        border: 4px solid rgba(56, 62, 66, 0.65);
        background-color: transparent;
        font-family: $roboto;
        font-weight: $bold-weight;
        font-size: 55px;
        text-align: center;
        color: rgba(56, 62, 66, 0.65);
        padding: 35px 35px;
        margin-bottom: 50px;
        transition: 0.3s;

        &:hover {
            color: rgba(56, 62, 66, 1);
            border: 4px solid rgba(56, 62, 66, 1);
            cursor: pointer;
        }
    }

    &-result {
        display: flex;
        justify-content: space-between;
        width: 624px;

        .hours, .minutes, .seconds {
            display: block;
            font-family: $roboto;
            font-weight: $bold-weight;
            font-size: 75px;
            text-align: center;
            width: 178px;
        }

        .seconds {
            margin-right: 0;
        }

        .hours::after {
            display: block;
            content: "Часов";
            font-size: 40px;
        }

        .minutes::after {
            display: block;
            content: "Минут";
            font-size: 40px;
        }

        .seconds::after {
            display: block;
            content: "Секунд";
            font-size: 40px;
        }
    }

    &-setting {
        display: flex;
        justify-content: space-between;
        margin: 65px 0;
    
            label {
            display: block;
            font-family: $roboto;
            font-weight: $bold-weight;
            font-size: 40px;
            margin-bottom: 15px;
            color: $atracit;
            }

            .hours-setter, .minutes-setter, .seconds-setter {
                display: flex;
                flex-direction: column;
                align-items: center; 
                margin-left: 45px;
            }

            .hours-setter {
                margin-left: 0;
            }
            
            .timer-setting__hours, .timer-setting__minutes, .timer-setting__seconds {
                border: 4px solid transparent;
                background-color: rgba(250, 235, 215, 0.60);
                transition: 0.3s;
                padding: 35px 35px;
                font-family: $roboto;
                font-weight: $bold-weight;
                font-size: 40px;
                max-width: 100px;
                text-align: center;
                color: $atracit;

                &:focus {
                    border: 4px solid rgba(213, 213, 213, 1);
                    background-color: transparent;
                }

            }

    }

}