.timer {
    background-image: url(../images/watch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 0 0 720px rgba(0, 0, 0, 0.45) inset;
    padding: 200px 0 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
        @media screen and (max-width: $m86) {
            padding-right: 20px;
            padding-left: 20px;
        }
        @media screen and (max-width: $m72) {
            padding: 175px 20px 175px 20px;
        }
        @media screen and (max-width: $m58) {
            padding: 155px 20px 155px 20px;
        }
        @media screen and (max-width: $m46) {
            padding: 120px 20px 120px 20px;
        }
        

    &-title {
        font-family: $roboto;
        font-weight: $bold-weight;
        font-size: 65px;
        text-align: center;
        letter-spacing: 2.5px;
        color: $white;
            @media screen and (max-width: $m12) {
                font-size: 60px;
            }
            @media screen and (max-width: $m86) {
                font-size: 55px;
            }
            @media screen and (max-width: $m72) {
                font-size: 50px;
            }
            @media screen and (max-width: $m58) {
                font-size: 40px;
            }
            @media screen and (max-width: $m46) {
                font-size: 32px;
            }
    }

    &-start {
        border: 4px solid rgba(255, 255, 255, 0.65);
        background-color: transparent;
        font-family: $roboto;
        font-weight: $bold-weight;
        font-size: 45px;
        text-align: center;
        color: rgba(255, 255, 255, 0.65);
        padding: 30px 30px;
        margin-bottom: 50px;
        transition: 0.3s;
            @media screen and (max-width: $m12) {
                font-size: 35px;
            }
            @media screen and (max-width: $m86) {
                font-size: 32px;
            }
            @media screen and (max-width: $m72) {
                font-size: 28px;
                padding: 27px 30px;
            }
            @media screen and (max-width: $m58) {
                font-size: 24px;
                padding: 20px 24px;
            }
            @media screen and (max-width: $m46) {
                font-size: 18px;
                padding: 18px 24px;
            }

        &:hover {
            color: rgba(255, 255, 255, 1);
            border: 4px solid rgba(255, 255, 255, 1);
            cursor: pointer;
        }
    }

    &-result {
        display: flex;
        justify-content: space-between;
        width: 624px;
            @media screen and (max-width: $m68) {
                width: 526px;
            }
            @media screen and (max-width: $m58) {
                width: 436px;
            }
            @media screen and (max-width: $m46) {
                width: 352px;
            }

        .hours, .minutes, .seconds {
            display: block;
            font-family: $roboto;
            font-weight: $bold-weight;
            font-size: 75px;
            text-align: center;
            width: 178px;
            color: $white;
                @media screen and (max-width: $m12) {
                    font-size: 70px;
                }
                @media screen and (max-width: $m72) {
                    font-size: 60px;
                }
                @media screen and (max-width: $m68) {
                    width: 158px;
                }
                @media screen and (max-width: $m58) {
                    width: 128px;
                    font-size: 50px;
                }
                @media screen and (max-width: $m46) {
                    width: 100px;
                    font-size: 38px;
                }
                
        }

        .seconds {
            margin-right: 0;
        }

        .gone {
            color: rgba(229, 43, 80, 1);
        }

        .hours::after {
            display: block;
            content: "Часов";
            font-size: 40px;
                @media screen and (max-width: $m12) {
                    font-size: 35px;
                }
                @media screen and (max-width: $m72) {
                    font-size: 30px;
                }
                @media screen and (max-width: $m58) {
                    font-size: 25px;
                }
                @media screen and (max-width: $m46) {
                    font-size: 20px;
                }
        }

        .minutes::after {
            display: block;
            content: "Минут";
            font-size: 40px;
                @media screen and (max-width: $m12) {
                    font-size: 35px;
                }
                @media screen and (max-width: $m72) {
                    font-size: 30px;
                }
                @media screen and (max-width: $m58) {
                    font-size: 25px;
                }
                @media screen and (max-width: $m46) {
                    font-size: 20px;
                }
        }

        .seconds::after {
            display: block;
            content: "Секунд";
            font-size: 40px;
                @media screen and (max-width: $m12) {
                    font-size: 35px;
                }
                @media screen and (max-width: $m72) {
                    font-size: 30px;
                }
                @media screen and (max-width: $m58) {
                    font-size: 25px;
                }
                @media screen and (max-width: $m46) {
                    font-size: 20px;
                }
        }
    }

    &-setting {
        display: flex;
        justify-content: space-between;
    
            label {
            display: block;
            font-family: $roboto;
            font-weight: $bold-weight;
            font-size: 40px;
            margin-bottom: 15px;
            color: $white;
                @media screen and (max-width: $m12) {
                    font-size: 30px;
                }
                @media screen and (max-width: $m72) {
                    font-size: 28px;
                }
                @media screen and (max-width: $m58) {
                    font-size: 22px;
                }
                @media screen and (max-width: $m46) {
                    font-size: 18px;
                }
            }

            .hours-setter, .minutes-setter, .seconds-setter {
                display: flex;
                flex-direction: column;
                align-items: center; 
                margin-left: 45px;
                    @media screen and (max-width: $m68) {
                        margin-left: 26px;
                    }
            }

            .hours-setter {
                margin-left: 0;
            }
            
            .timer-setting__hours, .timer-setting__minutes, .timer-setting__seconds {
                border: 4px solid transparent;
                background-color: rgba(145, 145, 146, 0.3);
                transition: 0.3s;
                padding: 35px 35px;
                font-family: $roboto;
                font-weight: $bold-weight;
                font-size: 40px;
                max-width: 100px;
                text-align: center;
                color: $white;
                    @media screen and (max-width: $m12) {
                        font-size: 35px;
                    }
                    @media screen and (max-width: $m72) {
                        font-size: 30px;
                    }
                    @media screen and (max-width: $m68) {
                        max-width: 80px;
                    }
                    @media screen and (max-width: $m68) {
                        max-width: 60px;
                    }
                    @media screen and (max-width: $m58) {
                        max-width: 60px;
                        padding: 25px 30px;
                    }
                    @media screen and (max-width: $m46) {
                        max-width: 34px;
                        font-size: 26px;
                        padding: 20px 30px;
                    }
                    
            }
    }

    .focus {
        background-color: transparent;
        border: 4px solid rgba(213, 213, 213, 1);
    }
    
    .inc-focus {
        border: 4px solid rgba(229, 43, 80, 0.5);
        background-color: transparent;
    }
    
    .inc-blur {
        border: 4px solid rgba(229, 43, 80, 0.5);
        background-color: rgba(145, 145, 146, 0.3);
    }
}

.warning {
    @extend %warning;
}

