$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', serif;
$white: white;
$light-weight: 300;
$bold-weight: 700;

%wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
position: relative;
// background: rgba(53,148,46,1);
// background: -moz-linear-gradient(45deg, rgba(53,148,46,1) 0%, rgba(39,42,21,1) 100%);
// background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(53,148,46,1)), color-stop(100%, rgba(39,42,21,1)));
// background: -webkit-linear-gradient(45deg, rgba(53,148,46,1) 0%, rgba(39,42,21,1) 100%);
// background: -o-linear-gradient(45deg, rgba(53,148,46,1) 0%, rgba(39,42,21,1) 100%);
// background: -ms-linear-gradient(45deg, rgba(53,148,46,1) 0%, rgba(39,42,21,1) 100%);
// background: linear-gradient(45deg, rgba(53,148,46,1) 0%, rgba(39,42,21,1) 100%);
// height: 550px;
background-image: url(../images/logo-back.jpg);
background-repeat: no-repeat;
}

.flex-header {
    @extend %wrapper;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.flex-header-item {
    h1 {
        font-family: $roboto;
        letter-spacing: 0.5px;
        font-size: 42px;
        color: $white;
    }

    a img {
        width: 60px;
    }
}

.toolbar {
    background-color:#111;
    opacity: 0.8;
    padding: 10px 0;

    &:hover {
        opacity: 1;
    }
}

.flex-toolbar {
    @extend %wrapper;
    display: flex;
    justify-content: flex-start;
    align-items: center;
        &-item {
            display: flex;
            align-items: center;
            margin-left: 15px;
        }

        &-number a, &-email a {
            font-family: $roboto;
            font-size: 14px;
            color: $white;
            font-weight: $bold-weight;
            letter-spacing: 1px;
            text-decoration: none;

            &:hover, &:visited {
                text-decoration: underline;
                cursor: pointer;
                color: $white;
            }

        }

        &-questions {
            
            p {
                font-family: $roboto;
                font-size: 14px;
                color: #ababab;
                font-weight: $bold-weight;
            }            
        }

        &-number {
            div {
                display: block;
                background-image: url(../images/svg/phone.svg);
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }

        &-email {
            div {
                background-image: url(../images/svg/email.svg);
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
        
}

.additional-info {
    margin: 67px auto 0 auto;
    max-width: 600px;

    &__text {
        font-family: $roboto;
        line-height: 30px;
        text-align: justify;
        font-size: 16px;
        color: $white;
    }
}