@charset "UTF-8";
.flex-wrap, .toolbar .flex-toolbar {
  max-width: 1600px;
  margin: 0 auto;
}

.additional-info__more, .nav-buttons__rand, .nav-buttons__timer {
  border: 4px solid transparent;
  background-color: transparent;
  padding: 15px 15px 15px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header {
  position: relative;
  background-image: url(../images/header-back.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-box-shadow: 0 0 0 353px rgba(0, 0, 0, 0.45) inset;
          box-shadow: 0 0 0 353px rgba(0, 0, 0, 0.45) inset;
  padding-bottom: 150px;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap .flex-header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 500px;
  padding: 50px 0 25px 0;
}

.flex-header-logo {
  margin-top: 8px;
  margin-right: 65px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.flex-header-logo a img {
  width: 80px;
}

.flex-header-title h1 {
  width: 400px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 5.5px;
  font-size: 45px;
  color: white;
}

.toolbar {
  position: static;
  background-color: transparent;
  padding: 10px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 0;
}

.toolbar:hover {
  background-color: rgba(0, 0, 0, 0.55);
}

.toolbar .flex-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toolbar .flex-toolbar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

.toolbar .flex-toolbar-number a, .toolbar .flex-toolbar-email a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

.toolbar .flex-toolbar-number a:hover, .toolbar .flex-toolbar-email a:hover {
  cursor: pointer;
  color: white;
}

.toolbar .flex-toolbar-number a:visited, .toolbar .flex-toolbar-email a:visited {
  color: white;
}

.toolbar .flex-toolbar-questions p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ababab;
  font-weight: 700;
}

.toolbar .flex-toolbar-number div {
  display: block;
  background-image: url(../images/svg/phone.svg);
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.toolbar .flex-toolbar-email div {
  background-image: url(../images/svg/email.svg);
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.additional-info {
  max-width: 600px;
  height: 200px;
}

.additional-info__text {
  margin-bottom: 44px;
  font-family: "Roboto", sans-serif;
  line-height: 38px;
  font-weight: 300;
  font-size: 22px;
  color: white;
}

.additional-info__more:hover {
  border: 4px solid white;
  cursor: pointer;
  padding: 15px 15px;
}

.nav-buttons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 auto;
}

.nav-buttons__rand, .nav-buttons__timer {
  display: block;
  border: 4px solid rgba(255, 255, 255, 0.65);
  padding: 27px 37px;
  margin-bottom: 40px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.65);
}

.nav-buttons__rand:hover, .nav-buttons__timer:hover {
  border: 4px solid white;
  color: white;
  cursor: pointer;
}

.nav-buttons__timer {
  padding: 27px 95px;
}

.random {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/random-back2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 410px 0;
  -webkit-box-shadow: 0 0 0 488px rgba(0, 0, 0, 0.45) inset;
          box-shadow: 0 0 0 488px rgba(0, 0, 0, 0.45) inset;
}

.random-content-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: white;
  text-align: center;
  letter-spacing: 2.5px;
}

.random-content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.random-content-form__from, .random-content-form__to {
  position: relative;
}

.random-content-form__from input, .random-content-form__to input {
  padding: 35px 30px;
  text-align: center;
  font-weight: 700;
  font-size: 65px;
}

.random-content-form__from::before {
  content: 'До';
  position: absolute;
  top: 0;
  left: -28px;
  font-size: 54px;
}
/*# sourceMappingURL=style.css.map */